{{!-- ./views/layouts/main.handlebars --}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {{!-- Layouts 佈局 --}}
  <h1>測試佈局是否成功搭建</h1>

  {{!-- Partial templates will be replaced here --}}
  {{{body}}}
</body>
</html>