{{!-- ./views/layouts/main.handlebars --}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {{!-- 載入 CSS --}}
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">

  {{!-- 載入自行設計的 CSS --}}
  <link rel="stylesheet" href="/stylesheets/index.css">

  <link rel="stylesheet" href="/stylesheets/show.css">
</head>
<body>
  {{!-- Layouts 佈局 --}}
  {{!-- Header --}}
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
            width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
          我的餐廳清單
        </a>
      </div>
    </nav>
    <div class="banner"></div>
  </header>


  {{!-- Partial templates will be replaced here --}}
  {{{body}}}



  {{!-- 載入 JS 套件 --}}
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>
</html>